<!DOCTYPE html>
<html>
    <head>
        <title> View Data </title>
    </head>
    <body>
        <h3> This is the default layout! </h3>
        {{{body}}}
        <h5> Here is the default layout footer </h5>
    </body>
</html>